

header {
	width: 100%;	
font-size: 120%;
background: rgb(153, 204, 255);
color: rgb(58, 58, 58);
font-family: Arial, Helvetica, sans-serif;
text-align: center;

}


header::after {
	content: '';
	display: table;
clear: both;
}

nav ul {
	margin: 0;
	padding: 20px;
	list-style: none;
}

nav ul li {
	display: inline-block;
	margin-left: 23px;
	padding-top: 23px;
position: relative;
}

nav ul li a {
	color: rgb(58, 58, 58);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14;

}
nav ul li a:hover {
	color: green;
}


nav ul li a::before { 
	content: '';
	display: block;
	height: 5px;
	background-color:rgb(153, 204, 255);
	
	position: absolute;
	top: 0;
	width: 0%;
	transition: all ease-in-out 250ms;
}

nav ul li a:hover::before {
	width: 100%;
}

h1 {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

	
h1 a {
	color: rgb(58, 58, 58);
	text-decoration: underline;
	text-align:	center;
}

h1 a:hover {
	color: green;
}


h1 a::before { 
	content: '';
	display: block;
	height: 5px;
	background-color:rgb(153, 204, 255);
	
	position: absolute;
	top: 0;
	width: 0%;
	transition: all ease-in-out 250ms;
}

h1 a:hover::before {
	width: 100%;
}
body {
  padding: 50px 30px 50px 30px;
overflow: auto;
background-color: rgb(204, 229, 255);
color: rgb(58, 58, 58);
font-family: Arial, Helvetica, sans-serif;
font-weight: 800;
   Width: 100%;
	height: auto;
	Margin: 0px;
}
aside {
	background-color: rgb(204, 229, 255);
color: rgb(58, 58, 58);
font-family: "Comic Sans MS", cursive, sans-serif;
	float: right;
	margin: 10px;
	
}
html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ?   document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe =    document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
